@charset "UTF-8";

/* 全体
------------------------------------- */

html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}



/*
ヘッダー
--------------------------------------- */
.main-header {
    display: flex;
    justify-content: space-between; 
    background-color: #373737;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.htitle {
    font-size: 1.3rem;
    margin-left: 5%;
}


.header-nav {
    display: flex;
    font-size: 1.25rem;
    margin-top: 15px;
    margin-right: 30px;
    list-style: none;
}

.header-nav li{
    margin-left: 36px;
}

.main-header a:hover{
    color: #0bd;
}

.main-header a:link, a:visited, a:active {
    color: white;
}


/* メインコンテンツ
----------------------------------- */
/*共通*/
.wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 10%;
}

.section-title{
    text-align: center;
    padding-top: 5%;
}


.section-content{
    margin-left: auto;
    margin-right: auto;
}

/*About*/
.about {
    margin-top: 10%;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.about-profile {
    text-align: center;
    margin-right: 60px;
    width: 30%;
}

.about-description {
    width: 70%;
}

/*Skills*/
.skills-container {

}

.main-lang {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lang {
    text-align: center;
    margin: 20px 40px;
    width :20%;
}

.main-lang p{
    width: 80%;
}

.lang img{
    width: 100px;
    height: 100px;
}

.lang h3 {
    margin: 0 auto;
}

.etc-lang {
    display: flex;
}

.etc {
    text-align: center;
    width: 20%;
    margin: 20px 40px;
}

.etc-lang table{
    width: 80%;
    margin-top: 40px;
    font-size: 0.9rem;
}

.etc h3 {
    margin: 0 auto;
}

.circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: skyblue;
    text-align:center;
    line-height: 100px;
}

/*Works*/
.work {
    display: flex;
    margin: 8% 0;
}

.work img {
    width: 45%;
    margin-right: 5%;
}

.work-description {
    width: 50%;
}

/*Carrer*/
.carrer-table td{
    padding : 20px 40px;
}


/*Publication*/
.publication-container {
    padding-bottom: 10px;
}

.publication-list {
    width: 80%;
    margin: 40px auto;
}

/*Link*/
.link-container {
    margin-left: 20%;
    margin-right: 20%;
}

.link-icons {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.link-icons img{
    width: 2rem;
    height: 2rem;
}

.link-icons p{
    margin: 1px;
    font-size: 0.9rem;
    text-align: center;
}